{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "modules": false
            }
        ]
    ],
    "plugins": [
        "../dist/babel/index.js"
    ]
}
